@import '../../App'

.weather-data
	text-align: center
	&__city
		color: $colour-2
	&__box
		display: flex
		align-items: center
		justify-content: center
		margin: 30px 0 30px 0
		@include respond(tablet)
			margin-top: 20px
		@include respond(largePhone)
			margin-top: 40px
	&__property
		margin: 0 45px
		@include respond(smallPhone)
			margin: 0 30px
	&__title
		font-size: 14px
		text-transform: uppercase
		font-weight: 600
		letter-spacing: 1.3px
	&__value
		color: $colour-2
		font-size: 62px
		line-height: 1.2
		@include respond(smallPhone)
			font-size: 34px
